{{- if .Values.topology.enabled }}
{{- if and .Values.prometheus.createConnection .Values.prometheus.url }}
apiVersion: mission-control.flanksource.com/v1
kind: Connection
metadata:
  name: {{ .Values.prometheus.connection }}
spec:
  prometheus:
    url:
    {{- .Values.prometheus.url | toYaml | nindent 6 }}
    {{- if .Values.prometheus.auth }}
    {{ omit .Values.prometheus.auth "url" | toYaml | nindent 4}}
    {{- end }}
{{- end }}
---
apiVersion: canaries.flanksource.com/v1
kind: Topology
metadata:
  name: {{ tpl .Values.topology.name . }}
  labels:
    cluster: {{.Values.clusterName}}
    {{- include "kubernetes.labels" . | nindent 4 }}
spec:
  groupBy:
    {{- toYaml .Values.topology.groupBy | nindent 4 }}
  type: Kubernetes::Cluster
  icon: "{{ .Values.topology.icon }}"
  schedule: "{{ .Values.topology.schedule }}"
  components:
    {{- if .Values.topology.ingress }}
    - name: Ingresses
      icon: k8s-ingress
      type: Kubernetes::Ingresses
      components:
      - name: IngressGroup
        type: virtual
        lookup:
          catalog:
            - selector:
              - types: ['Kubernetes::Ingress']
                tagSelector: 'cluster={{.Values.clusterName}}'
              display:
                expr: |
                  dyn(results).map(r, {
                    'name': {{.Values.topology.ingress.nameExpr}},
                    'namespace': r.tags['namespace'],
                    'type': 'Kubernetes::Ingress',
                    'icon': 'k8s-ingress',
                    'external_id': r.name,
                    'labels': r.labels,
                    'configs': [{'id': r.id}],
                    'health': r.health,
                    'status': r.status,
                    'status_reason': k8s.getHealth(r.config).status != 'Healthy' ? k8s.getHealth(r.config).status + ' ' + k8s.getHealth(r.config).message : '',
                    'config_id': r.id,

                    {{- if .Values.topology.ingress.enableChecks }}
                    'component_checks': [{
                      'inline': {
                        'http': dyn(r.config.spec.rules).map(rule, {
                          'name': 'ingress/' + rule.host,
                          'url': 'https://' + rule.host,
                        })
                      }
                    }],
                    {{- end}}

                  }).toJSON()
    {{- end}}

{{- end}}
