{{- if and .Values.playbooks.enabled .Values.playbooks.runAgentJob }}
apiVersion: mission-control.flanksource.com/v1
kind: Playbook
metadata:
  name: run-agent-job-now
spec:
  title: Run Agent Job Now
  icon: mssql
  description: Execute T-SQL steps from an Agent Job immediately
  configs:
    - types:
        - MSSQL::AgentJob
  {{ include "mssql.approvers" . | indent 2 | trim }}
  actions:
    - name: Get Job Steps
      sql:
        {{ include "mssql.connection" . }}
        driver: mssql
        query: |
{{ .Files.Get "conf/get-agent-job-steps.sql" | indent 10 }}
    - name: Execute T-SQL Steps
      sql:
        {{ include "mssql.connection" . }}
        driver: mssql
        query: |
          {{`{{- range $i, $step := getAction("Get Job Steps").result.results }}`}}
          -- Step {{`{{$step.step_id}}`}}: {{`{{$step.step_name}}`}}
          {{`{{$step.sql}}`}}
          {{`{{ end }}`}}
{{- end }}
