{{- if and .Values.playbooks.enabled .Values.playbooks.runSql }}
apiVersion: mission-control.flanksource.com/v1
kind: Playbook
metadata:
  name: run-mssql-sql
spec:
  title: Run SQL
  icon: mssql
  description: Run arbitrary SQL against MSSQL server with approval
  configs:
    - types:
        - MSSQL::Server
        - MSSQL::Database
  parameters:
    - name: sql
      label: SQL Statement
      type: text
      properties:
        multiline: true
  {{ include "mssql.approvers" . | indent 2 | trim }}
  actions:
    - name: Run SQL
      sql:
        {{ include "mssql.connection" . }}
        driver: mssql
        query: |
          {{`{{.params.sql}}`}}
{{- end }}
