# yaml-language-server: $schema=values.schema.json
nameOverride: ""
fullnameOverride: ""
labels: {}
topologyName: mission-control
connectionName: mission-control-db
isAgent: false
playbooks: true
pushLocation:
  url: ""
topology:
  enabled: true

# @schema
# required: false
# @schema
views:
  # If this is set to false, no views will be created
  enabled: true

  # @schema
  # required: false
  # @schema
  unhealthyConfigs:
    # @schema
    # required: false
    # default: true
    # type: boolean
    # @schema
    enabled: true
    # @schema
    # required: false
    # type: boolean
    # default: true
    # @schema
    sidebar: true

  # @schema
  # required: false
  # @schema
  pods:
    # @schema
    # required: false
    # default: false
    # type: boolean
    # @schema
    enabled: false
    # @schema
    # required: false
    # type: boolean
    # default: false
    # @schema
    sidebar: false
# username:
#   valueFrom:
#     secretKeyRef:
#       key: ''
#       name: ''
# password:
#   valueFrom:
#     secretKeyRef:
#       key: ''
#       name: ''
