{{- if .Values.playbooks.reconcile }}
apiVersion: mission-control.flanksource.com/v1
kind: Playbook
metadata:
  name: flux-reconcile
spec:
  title: Reconcile
  icon: flux
  category: Flux
  description: Triggers a reconciliation of the selected Flux object
  configs:
    - types:
        - Kubernetes::HelmRelease
        - Kubernetes::Kustomization
        - Kubernetes::HelmRepository
        - Kubernetes::HelmChart

  runsOn:
    -  {{` "{{- if .agent }}{{.agent.id}}{{ else }}local{{ end }}" `}}

  actions:
    - name: Reconcile
      exec:
        connections:
          fromConfigItem: '$(.config.id)'
        script: |
          kubectl annotate -n $(.config.tags.namespace) $(.config.config_class | strings.ToLower) $(.config.name) reconcile.fluxcd.io/requestedAt="$(date -u +%Y-%m-%dT%H:%M:%SZ)" --overwrite
{{- end}}
