{{- if .Values.playbooks.resume }}
apiVersion: mission-control.flanksource.com/v1
kind: Playbook
metadata:
  name: flux-resume
spec:
  title: Resume
  icon: flux
  category: Flux
  description: Resumes the reconciliation of the selected Flux resources
  configs:
    - types:
        - Kubernetes::HelmRelease
        - Kubernetes::Kustomization
        - Kubernetes::HelmRepository
        - Kubernetes::HelmChart

  runsOn:
    -  {{` "{{- if .agent }}{{.agent.id}}{{ else }}local{{ end }}" `}}

  actions:
    - name: Resume
      exec:
        connections:
          fromConfigItem: '$(.config.id)'
        script: |
          kubectl patch -n $(.config.tags.namespace) $(.config.config_class | strings.ToLower) $(.config.name) --type=merge -p '{"spec":{"suspend":false}}'
{{- end}}
