{{ if .Values.playbooks.scale -}}
apiVersion: mission-control.flanksource.com/v1
kind: Playbook
metadata:
  name: kustomize-scale
spec:
  title: 'Scale'
  icon: flux
  category: Flux
  description: Scales GitOps managed objects by submitting a git PR
  parameters:
    - default: 'chore: scale $(.config.type)/$(.config.name) to <replicas>'
      label: Commit Message
      name: commit_message

    - name: replicas
      label: "Replicas"
      default: '$(.config.config.spec.template.spec.replicas)'

  configs:
    - labelSelector: 'kustomize.toolkit.fluxcd.io/name'
      types:
        - Kubernetes::Deployment
        - Kubernetes::StatefulSet
        - Kubernetes::DaemonSet

  actions:
    - name: Create Pull Request With Changes
      gitops:
        repo:
          {{ omit .Values.git "url" "base" "branch" | toYaml | nindent 10 }}
          url: '$(.git.git.url)'
          base: '$(.git.git.branch)'
          branch: scale-$(random.Alpha 8)
        commit:
          author: '$(.user.name)'
          email: '$(.user.email)'
          message: $(.params.commit_message | strings.ReplaceAll "<replicas>" .params.replicas)
        {{ include "git-pr" (list . "$(.params.commit_message | strings.ReplaceAll \"<replicas>\" .params.replicas)" ) | nindent 8}}
        patches:
          - path: '$(.git.git.file)'
            yq: |
              select(
                .kind=="$(.config.config | jq `.kind`)" and
                .metadata.name=="$(.config.config | jq `.metadata.name`)"
              ).spec.template.spec.replicas |= "$(.params.replicas)"

{{ end }}
