{{- if .Values.playbooks.suspend }}
apiVersion: mission-control.flanksource.com/v1
kind: Playbook
metadata:
  name: flux-suspend
spec:
  title: Suspend
  icon: flux
  description: Suspends the reconciliation of the selected Flux resources
  category: Flux
  configs:
    - types:
        - Kubernetes::HelmRelease
        - Kubernetes::Kustomization
        - Kubernetes::HelmRepository
        - Kubernetes::HelmChart

  runsOn:
    -  {{` "{{- if .agent }}{{.agent.id}}{{ else }}local{{ end }}" `}}

  actions:
    - name: Suspend
      exec:
        connections:
          fromConfigItem: '$(.config.id)'
        script: |
          kubectl patch -n $(.config.tags.namespace) $(.config.config_class | strings.ToLower)/$(.config.name) --type=merge -p '{"spec":{"suspend":true}}'
{{- end}}
