{{- if and .Values.views.enabled .Values.views.deployments.enabled }}
apiVersion: mission-control.flanksource.com/v1
kind: View
metadata:
  name: deployments
  labels:
    {{- include "kubernetes-view.labels" . | nindent 4 }}
spec:
  display:
    title: Deployments
    icon: kubernetes::deployment
    {{- if .Values.views.deployments.sidebar }}
    sidebar: true
    {{- end }}
  templating:
    - key: cluster
      label: Cluster
      valueFrom:
        config:
          types:
            - Kubernetes::Cluster
  columns:
    - name: id
      type: string
      description: The id of the deployment.
      primaryKey: true
      hidden: true
    - name: name
      type: config_item
      description: The deployment name.
      card:
        position: title
    - name: namespace
      type: string
      description: The namespace name.
      card:
        position: subtitle
      filter:
        type: multiselect
      url:
        config: f("name=$(tags.namespace) tags.cluster=$(tags.cluster) type=Kubernetes::Namespace", row)
    - name: readyReplicas
      type: string
      description: The number of ready replicas.
      card:
        position: body
    - name: replicas
      type: string
      description: The desired number of replicas.
      card:
        position: body
    - name: status
      type: status
      icon: row.health
      description: The status of the deployment.
      card:
        position: subtitle
      filter:
        type: multiselect
    - name: health
      type: health
      hidden: true
      description: The health of the deployment.
      card:
        useForAccent: true
      filter:
        type: multiselect
    - name: createdAt
      type: datetime
      description: The creation timestamp.
      card:
        position: body
    - name: lastUpdated
      type: datetime
      description: The last updated time.
      card:
        position: body
  queries:
    deployments:
      configs:
        tagSelector: "cluster=$(.var.cluster)"
        agent: "all"
        types:
          - Kubernetes::Deployment
  mapping:
    readyReplicas: >
      has(row.config.status.readyReplicas) ? 
        row.config.status.readyReplicas : 0
    namespace: row.tags.namespace
    replicas: row.config.spec.replicas
    createdAt: row.created_at
    lastUpdated: row.updated_at
{{- end }}
