{{- if and .Values.views.enabled .Values.views.pods.enabled .Values.global.prometheus.connection }}
apiVersion: mission-control.flanksource.com/v1
kind: View
metadata:
  name: namespace
  labels:
    {{- include "kubernetes-view.labels" . | nindent 4 }}
spec:
  display:
    title: Namespace
    icon: namespace
    {{- if .Values.views.pods.sidebar }}
    sidebar: true
    {{- end }}
    plugins:
      - configTab:
          types:
            - Kubernetes::Namespace
        variables:
          cluster: '$(.config.tags.cluster)'
          namespace: '$(.config.name)'
  templating:
    - key: cluster
      label: Cluster
      valueFrom:
        config:
          agent: "all"
          types:
            - Kubernetes::Cluster
    - key: namespace
      label: Namespace
      dependsOn:
        - cluster
      valueFrom:
        config:
          tagSelector: "cluster=$(.var.cluster)"
          types:
            - Kubernetes::Namespace
  panels:
    - name: Total Pods
      description: Total Pods in the namespace
      type: number
      query: SELECT COUNT(*) AS value FROM pod
    - name: Total CPU Usage
      type: gauge
      query: SELECT value FROM namespace_cpu_usage
      gauge:
        unit: millicore
        thresholds:
          - percent: 0
            color: '#28C19B'
          - percent: 70
            color: '#F4B23C'
          - percent: 85
            color: '#F25C54'
    - name: Total Memory Usage
      type: gauge
      query: SELECT value FROM namespace_memory_usage
      gauge:
        max: ".dataset.namespace_memory_limit[0].value"
        unit: bytes
        thresholds:
          - percent: 0
            color: '#28C19B'
          - percent: 75
            color: '#F4B23C'
          - percent: 90
            color: '#F25C54'
  columns:
    - name: name
      type: config_item
      card:
        position: title
      primaryKey: true
      url:
        config: row.id
    - name: status
      type: status
      icon: row.health
      card:
        position: subtitle
      filter:
        type: multiselect
    - name: health
      type: health
      hidden: true
      card:
        useForAccent: true
      filter:
        type: multiselect
    - name: memory
      type: gauge
      unit: bytes
      card:
        position: headerRight
      description: Memory usage
      gauge:
        max: row.memory_limit
        thresholds:
          - percent: 0
            color: green
          - percent: 75
            color: orange
          - percent: 90
            color: red
    - name: cpu
      type: gauge
      unit: millicore
      card:
        position: headerRight
      gauge:
        max: row.cpu_limit
        thresholds:
          - percent: 0
            color: '#8BC34A'
          - percent: 70
            color: '#F4B23C'
          - percent: 85
            color: '#F25C54'
    - name: updated
      type: datetime
      card:
        position: footer
    - name: created
      type: datetime
      card:
        position: footer
    - name: image
      type: string
      hidden: true
      card:
        position: body
    - name: node
      type: string
      hidden: true
      card:
        position: body
  merge: |
    SELECT
      pod.id,
      pod.name,
      json_extract(pod.tags, '$.namespace') AS namespace,
      pod.status,
      pod.health,
      pod.config,
      pod.created_at,
      pod.updated_at,
      memory.value as memory,
      to_bytes(COALESCE(
        json_extract(pod.config, '$.spec.containers[0].resources.limits.memory'), 
        ''
      )) AS memory_limit,
      cpu.value as cpu,
      to_millicores(COALESCE(
        json_extract(pod.config, '$.spec.containers[0].resources.limits.cpu'), 
        ''
      )) AS cpu_limit
    FROM pod
    LEFT JOIN memory
      ON pod.name = memory.pod 
      AND json_extract(pod.tags, '$.namespace') = memory.namespace
    LEFT JOIN cpu
      ON pod.name = cpu.pod 
      AND json_extract(pod.tags, '$.namespace') = cpu.namespace
    ORDER BY namespace, name
  queries:
    memory: # memory_per_pod
      columns:
        namespace: string
        pod: string
        value: decimal
      prometheus:
        connection: {{ .Values.global.prometheus.connection }}
        query: |
          sum by (namespace, pod) (
            container_memory_working_set_bytes{
              container!="POD", # Skip The pause/infra container
              image!="" # Skip dead containers
            }
          )
    cpu: # cpu_per_pod
      columns:
        namespace: string
        pod: string
        value: decimal
      prometheus:
        connection: {{ .Values.global.prometheus.connection }}
        query: |
          sum by (namespace, pod) (
            irate(container_cpu_usage_seconds_total{
              container!="POD", # Skip The pause/infra container
              image!="" # Skip dead containers
            }[30s])
          ) * 1000
    pod: # all pods in the namespace
      configs:
        tagSelector: "cluster=$(.var.cluster),namespace=$(.var.namespace)"
        agent: "all"
        types:
          - Kubernetes::Pod
    namespace_cpu_usage: 
      columns:
        value: decimal
      prometheus:
        connection: {{ .Values.global.prometheus.connection }}
        query: |
          sum(
            irate(container_cpu_usage_seconds_total{
              namespace=~"$(.var.namespace)",
              container!="POD",
              image!=""
            }[5m])
          ) * 1000
    namespace_memory_usage:
      columns:
        value: decimal
      prometheus:
        connection: {{ .Values.global.prometheus.connection }}
        query: |
          sum(
            container_memory_working_set_bytes{
              namespace=~"$(.var.namespace)",
              container!="POD",
              image!=""
            }
          ) or vector(0)
    namespace_memory_limit:
      columns:
        value: decimal
      prometheus:
        connection: {{ .Values.global.prometheus.connection }}
        query: |
          sum(kube_pod_container_resource_limits{namespace="$(.var.namespace)", resource="memory"}) or vector(0)
  mapping:
    created: row.created_at
    updated: row.updated_at
    image: >
      has(row.config) ? row.config.JSON().spec.containers[0].image : "N/A"
    node: >
      has(row.config) ? (has(row.config.JSON().spec.nodeName) ? row.config.JSON().spec.nodeName : "N/A"): "N/A"
{{- end }}