{{- if and .Values.views.enabled .Values.views.pod.enabled .Values.global.prometheus.connection }}
apiVersion: mission-control.flanksource.com/v1
kind: View
metadata:
  name: pod
  labels:
    {{- include "kubernetes-view.labels" . | nindent 4 }}
spec:
  display:
    title: Pod
    icon: pod
    table:
      size: 10
    plugins:
      - configTab:
          types:
            - Kubernetes::Pod
        variables:
          cluster: '$(.config.tags.cluster)'
          pod_name: '$(.config.name)'
  templating:
    - key: cluster
      label: Cluster
      valueFrom:
        config:
          agent: "all"
          types:
            - Kubernetes::Cluster
    - key: pod_name
      label: Pod
      valueFrom:
        config:
          types:
            - Kubernetes::Pod
  panels:
    - name: Pod Info
      type: properties
      query: >
        SELECT 'Status' AS label, status AS value FROM pod
        UNION
        SELECT 'Container(' || json_extract(value, '$.name') || ')' AS label, json_extract(value, '$.image') AS value FROM pod, json_each(json_extract(pod.config, '$.spec.containers')) WHERE json_extract(value, '$.image') IS NOT NULL
        UNION
        SELECT 'Node' AS name, COALESCE(json_extract(config, '$.spec.nodeName'), 'Not scheduled') AS value FROM pod
    - name: CPU Usage History
      description: Last 12h
      type: timeseries
      timeseries:
        style: lines
        timeKey: timestamp
        valueKey: value
      query: |
        SELECT timestamp, value, container, node, 'usage' AS metric FROM cpu_usage_history
        UNION ALL
        SELECT timestamp, value, container, node, 'request' AS metric FROM cpu_request_history
        UNION ALL
        SELECT timestamp, value, container, node, 'limit' AS metric FROM cpu_limit_history
        ORDER BY timestamp
    - name: Memory Usage History
      description: Last 12h
      type: timeseries
      timeseries:
        style: area
        timeKey: timestamp
        valueKey: value
      query: |
        SELECT timestamp, value, container, node, 'usage' AS metric FROM memory_usage_history
        UNION ALL
        SELECT timestamp, value, container, node, 'request' AS metric FROM memory_request_history
        UNION ALL
        SELECT timestamp, value, container, node, 'limit' AS metric FROM memory_limit_history
        ORDER BY timestamp
  columns:
    - name: id
      type: string
      hidden: true
      primaryKey: true
    - name: name
      type: string
    - name: created_at
      type: datetime
  mapping:
    created_at: row.created_at
    name: row.change_type
  merge:
    SELECT
      events.id,
      events.change_type,
      events.created_at
    FROM events
    ORDER BY created_at DESC
  queries:
    cpu_usage_history:
      columns:
        node: string
        container: string
        timestamp: datetime
        value: decimal
      prometheus:
        connection: {{ .Values.global.prometheus.connection }}
        query: >
          rate(container_cpu_usage_seconds_total{
            pod="$(.var.pod_name)",
            container!="",
            image!~".*pause.*"
          }[5m]) * 1000
        matchLabels:
          - node
          - container
        range:
          start: "now-12h"
          end: "now"
          step: "5m"
    cpu_request_history:
      columns:
        node: string
        container: string
        timestamp: datetime
        value: decimal
      prometheus:
        connection: {{ .Values.global.prometheus.connection }}
        query: >
          kube_pod_container_resource_requests{
            resource="cpu",
            pod="$(.var.pod_name)",
            container!="POD",
            container!=""
          } * 1000
        matchLabels:
          - node
          - container
        range:
          start: "now-12h"
          end: "now"
          step: "5m"
    cpu_limit_history:
      columns:
        node: string
        container: string
        timestamp: datetime
        value: decimal
      prometheus:
        connection: {{ .Values.global.prometheus.connection }}
        query: >
          kube_pod_container_resource_limits{
            resource="cpu",
            pod="$(.var.pod_name)",
            container!="POD",
            container!=""
          } * 1000
        matchLabels:
          - node
          - container
        range:
          start: "now-12h"
          end: "now"
          step: "5m"
    memory_request_history:
      columns:
        node: string
        container: string
        timestamp: datetime
        value: decimal
      prometheus:
        connection: {{ .Values.global.prometheus.connection }}
        query: >
          kube_pod_container_resource_requests{
            resource="memory",
            pod="$(.var.pod_name)",
            container!="POD",
            container!=""
          } / 1024 / 1024
        matchLabels:
          - node
          - container
        range:
          start: "now-12h"
          end: "now"
          step: "5m"
    memory_limit_history:
      columns:
        node: string
        container: string
        timestamp: datetime
        value: decimal
      prometheus:
        connection: {{ .Values.global.prometheus.connection }}
        query: >
          kube_pod_container_resource_limits{
            resource="memory",
            pod="$(.var.pod_name)",
            container!="POD",
            container!=""
          } / 1024 / 1024
        matchLabels:
          - node
          - container
        range:
          start: "now-12h"
          end: "now"
          step: "5m"
    memory_usage_history:
      columns:
        node: string
        container: string
        timestamp: datetime
        value: decimal
      prometheus:
        connection: {{ .Values.global.prometheus.connection }}
        query: >
          container_memory_working_set_bytes{
            pod="$(.var.pod_name)",
            container!="POD",
            container!=""
          } / 1024 / 1024
        matchLabels:
          - node
          - container
        range:
          start: "now-12h"
          end: "now"
          step: "5m"
    memory:
      columns:
        namespace: string
        pod: string
        value: decimal
      prometheus:
        connection: {{ .Values.global.prometheus.connection }}
        query: |
          sum by (namespace, pod) (
            container_memory_working_set_bytes{
              pod="$(.var.pod_name)",
              container!="POD", # Skip The pause/infra container
              container!="" # Skip dead containers
            }
          )
    cpu_usage:
      columns:
        namespace: string
        pod: string
        value: decimal
      prometheus:
        connection: {{ .Values.global.prometheus.connection }}
        query: |
          sum by (namespace, pod) (
            irate(container_cpu_usage_seconds_total{
              pod="$(.var.pod_name)",
              container!="POD",
              container!=""
            }[5m])
          ) * 1000
    pod:
      configs:
        agent: "all"
        tagSelector: "cluster=$(.var.cluster)"
        name: $(.var.pod_name)
        types:
          - Kubernetes::Pod
    events:
      changes:
        tagSelector: "cluster=$(.var.cluster)"
        name: $(.var.pod_name)
{{- end }}
