name: Test
on:
  pull_request:

jobs:
  changes:
    runs-on: ubuntu-latest
    # Required permissions
    permissions:
      pull-requests: read
    outputs:
      # Expose matched filters as job 'packages' output variable
      charts: ${{ steps.filter.outputs.changes }}
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            argocd: charts/argocd/**
            aws: charts/aws/**
            azure: charts/azure/**
            flux: charts/flux/**
            gcp: charts/gcp/**
            kubernetes: charts/kubernetes/**
            kubernetes-view: charts/kubernetes-view/**
            mission-control: charts/mission-control/**
            mongo-atlas: charts/mongo-atlas/**
            postgres: charts/postgres/**
            prometheus: charts/prometheus/**
            playbooks-kubernetes: charts/playbooks-kubernetes/**
            playbooks-ai: charts/playbooks-ai/**
            playbooks-flux: charts/playbooks-flux/**
            helm: charts/helm/**
            mssql: charts/mssql/**

  # Job to build and test each of modified packages
  test:
    needs: changes
    strategy:
      fail-fast: false
      matrix:
        # Parse JSON array containing names of all filters matching any of changed files
        # e.g. ['package1', 'package2'] if both package folders contains changes
        chart: ${{ fromJSON(needs.changes.outputs.charts) }}

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Free up disk space
        run: |
          initial_space=$(df / | grep / | awk '{print $4}')
          docker system prune -af
          rm -rf /usr/share/dotnet
          rm -rf /opt/ghc
          rm -rf /usr/local/share/boost
          rm -rf $AGENT_TOOLSDIRECTORY
          rm -rf /opt/hostedtoolcache
          # Remove Android SDK directories (common locations)
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/android
          sudo rm -rf /usr/local/android-sdk
          sudo rm -rf /home/runner/Android

          final_space=$(df / | grep / | awk '{print $4}')
          difference=$((final_space - initial_space))
          echo "Disk space difference (in KB): $difference"

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v4.0.4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: v1.25.x

      - name: Create kind cluster
        uses: helm/kind-action@v1.10.0

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.1

      - run: ./test_charts.sh ${{matrix.chart}}
        name: test

  test-all:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - run: echo "Done"
